<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter-Mercado-Liebre</title>
    <base href=""> <!--etiqueta donde poner el servidor-->
    <link rel="stylesheet" href="css/styles.css"> <!--Recomendo no usar ../ -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    
    
    <header class="encabezado">
        <img src="assets/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="encabezado-logo">
        <h1 class="encabezado-encabezadoPrincipal">Lorem ipsum dolor sit amet consectetur.</h1>
    </header>

    <main>
        <div class="container">
            <p class="contenido-parrafoPrincipal gris-oscuro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ea doloremque ipsam reiciendis aspernatur facere quos voluptas error nobis et totam ut explicabo ad sit magni dolore quam harum ab quibusdam autem eius minus? Iure necessitatibus obcaecati accusantium voluptatum autem perferendis dolor excepturi repellendus laudantium perspiciatis nihil, eligendi, sit enim?</p>
            <br>
            <p class="contenido-parrafoPrincipal gris-oscuro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ea doloremque ipsam reiciendis aspernatur facere quos voluptas error nobis et totam ut explicabo ad sit magni dolore quam harum ab quibusdam autem eius minus? Iure necessitatibus obcaecati accusantium voluptatum autem perferendis dolor excepturi repellendus laudantium perspiciatis nihil, eligendi, sit enim?</p>
        </div>
    
        <br>
        <hr>
    
        <h4>Lorem, ipsum dolor.</h4>
    
        <img src="assets/banner_newsletter.png" alt="banner-mercado-liebre" class="banner">
    
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    
        <a href="#" class="enlace">Lorem, ipsum dolor -></a>
    
        <br>
        <br>
        <hr>
        <br>
    
        <h4>Lorem, ipsum dolor.</h4>
        
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    
        <p  class="gris-oscuro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ea doloremque ipsam reiciendis aspernatur facere quos voluptas error nobis et totam ut explicabo ad sit magni dolore quam harum ab quibusdam autem eius minus? Iure necessitatibus obcaecati accusantium voluptatum autem perferendis dolor excepturi repellendus laudantium perspiciatis nihil, eligendi, sit enim?</p>
    
        <br>
        <hr>
        <br>
    
        <ul>
            <li><a href="#" class="lista-enlaces">Instagram</a></li>
            <li><a href="#" class="lista-enlaces">Twitter</a></li>
            <li><a href="#" class="lista-enlaces">Facebook</a></li>
            <li><a href="#" class="lista-enlaces">Github</a></li>
        </ul>    
    
    
    
    <p class="gris-oscuro">Saludos <br> Ale y Uri</p>
    </main>


<br>
<hr>

<footer>
    <small class="gris-claro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus odio repellat quisquam explicabo vero, doloribus eos natus ratione iste incidunt! Sequi consequuntur obcaecati beatae cum saepe tempora soluta unde quidem.</small>
</footer>

</body>
</html>
